@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
@import "tailwindcss";

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

h1 {
    font-family: "Ga Maamli", sans-serif;
    font-size: 4rem;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
}