---

---

<div class="w-screen h-screen px-10 py-10">
    <div class="w-full h-full flex flex-col bg-gray-500/60 rounded-4xl px-10 py-10">
        <div class="h-full flex flex-col text-center my-10 mx-15">
            <h1 class="mb-10">welcome</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit rem neque ut nulla veritatis recusandae dignissimos aut ullam natus eius facilis dicta quas assumenda nostrum odit maiores laboriosam necessitatibus dolores laborum dolorum soluta, inventore quibusdam numquam tempore. Eum ad facilis possimus mollitia laborum ratione delectus, rerum, doloremque explicabo blanditiis voluptates a, vero aperiam sint laboriosam tenetur cum. Repellat ipsa nisi aut libero labore. Dolorum vitae earum corrupti unde eum facilis alias! Commodi omnis veniam sequi repudiandae. Libero corporis animi quidem rerum. Natus dolores modi quibusdam magnam deleniti voluptate sequi vitae nesciunt sapiente necessitatibus, doloremque suscipit ipsum, odit aspernatur facere. Ex?</p>

        </div>
        <button class="p-3.5 border-2 rounded-2xl"> Enter </button>
    </div>
</div>